body {
    background: url("tk.jpg");
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.main {
    display: flex;
}

.baudet {
margin-left: 1% ;
}

.bakellende {
    margin-left: 1%;
}

.chess {
margin-top: 239px;
margin-left: 1% 
}

.hans {
margin-top: 239px;
margin-left: 1% 
}